.container{
    display: grid;
    grid-template-columns: 10% 10% 20% 10%;
    margin-bottom: 10px;
    margin:20px;
}

button{
    padding: 10px 20px;
    background-color: rgb(99, 200, 99);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border:none;
}